//함수 나열이 중복적일경우 map을 사용하면 더 효율적이다
$flex-map: (
  start: flex-start,
  end: flex-end,
  between: space-between,
  around: space-around,
  center: center,
  stretch: stretch,
);
// 함수를 사용하겠다

@function _get-flex-value($key) {
  @return map-get($flex-map, $key);
}

@mixin flexbox($jc: center, $ai: center) {
  display: flex;
  justify-content: _get-flex-value($jc);
  align-items: _get-flex-value($ai);
}

@mixin inline-flexbox($jc: center, $ai: center) {
  display: flex;
  justify-content: _get-flex-value($jc);
  align-items: _get-flex-value($ai);
}

@mixin column-flexbox($jc: center, $ai: center) {
  display: flex;
  flex-direction: column;
  justify-content: _get-flex-value($jc);
  align-items: _get-flex-value($ai);
}

.list {
  @include flexbox(start, end);
}
